/*  */
.direction-section {
  background-color: var(--header-bg-color);

  height: 585px;
}
.direction-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.direction-title {
  font-size: 30px;
  font-weight: 900;
  margin: 44px 0 40px;
}

/* 




*/

.navigation-wrapper {
  display: flex;
  width: 1200px;
  height: 400px;
}

.row-wrap {
  width: 100%;
  background-color: #fff;
}
.nav-title-wrap {
  max-width: 250px;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.nav-title {
  font-size: 14px;
  padding: 10px;
  padding: 15px 0 14px 23px;
}
.nav-title:first-child {
  font-weight: 700;
  background-color: #fff;
}
.nav-list {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px 0 0 40px;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 400;
}

/* Responsiv start */

@media (max-width: 768px) {
}

/* Responsiv end */
