/*  */

.about-section {
  background-color: var(--header-bg-color);
  height: 470px;
  /* margin-top: 50px; */
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about-title {
  color: var(--font-black);
  margin-bottom: 25px;
}

.about-title + p {
  font-size: 18px;
  color: var(--font-black);
}

/*  */
.about-img-wrap {
  width: calc(50% - 20px);
  position: relative;
  height: 500px;
}
.about {
  width: 520px;
}
.man-img {
  width: 122%;
  position: absolute;
  right: -18%;
  bottom: 30px;
  object-fit: cover;
}

.tablet-man-img,
.mobile-man-img {
  display: none;
}

/* responsiv start */

@media (max-width: 768px) {
  .about-section {
    height: 370px;
    margin-bottom: 200px;
  }
  .about {
    width: 350px;
  }

  .about-title + p {
    font-size: 16px;
  }

  .tablet-man-img {
    display: block;

    position: absolute;
    bottom: -20px;
  }
  .man-img {
    display: none;
  }

  .about-img-wrap {
    height: 350px;
  }
}

@media (max-width: 375px) {
  .about-section {
    height: 429px;
    overflow: hidden;
  }
  .about-wrapper {
    flex-direction: column;
    padding-top: 25px;
  }
  .tablet-man-img {
    display: none;
  }
  .mobile-man-img {
    display: block;
    position: absolute;
    right: 0;
  }

  .about-img-wrap {
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
    position: relative;
  }

  .about-title {
    font-size: 26px;
  }
  .about-title + p {
    font-size: 14px;
    color: var(--font-black);
  }
}

/* responsiv end */
